<div class="form-inline">
    <div class="form-group mb-2">
      <!--<label for="staticEmail2" class="sr-only">Filter by</label>-->
      <input type="text" class="form-control" 
      id="listFilter" name="listFilter" #filterElement
      [(ngModel)]='listFilter' placeholder="Search by company">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <!--<label for="inputPassword2" class="sr-only">Password</label>-->
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]='sortBy' #sortByElement>
          <option selected>Sort by</option>
          <option value="{{column.value}}" *ngFor="let column of sortColumns">{{column.viewValue}}</option>
        </select>
    </div>
    <!--<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>-->
</div>